:root.theme-dark {
  --cover-image: url("../images/cover-image-dark.png");

  --color: #FF0070; /* main color */
  --background-color: #000028;

  --logo-color: #DB00FF;
  --accent-color: #FF0070;

  --color-article-title: #000028;
  --background-color-title: #FF0070;

  --color-text: #F1B2CE;

  --color-hover-button: rgba(255, 0, 112, 0.4);
  
  --poweroff: inline-block; /* lamp on/off */
}