/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --cover-image: url("../images/cover-image-dark.png");

  --color: #FF0070; /* main color */
  --background-color: #000028;

  --logo-color: #DB00FF;
  --accent-color: #FF0070;

  --color-section-title: #000028;
  --color-article-title: #000028;
  --background-color-title: #FF0070;

  --color-text: #F1B2CE;

  --color-hover-button: #ADA5A6;

  --poweroff: inline-block; /* lamp on/off */

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}