/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --cover-image: url("../images/cover-image-dark.png");

  --color: #FF0070;
  --background-color: #000028;

  --color-logo: #DB00FF;
  --color-shadow: #FF0070;

  --color-title: #000028;
  --background-color-title: #FF0070;

  --color-text: #F1B2CE;

  --status: inline-block;

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}