:root.theme-light {
  --cover-image: url("../images/cover-image-light.png");

  --color: #353430; /* main color */
  --background-color: #FFF1F7;

  --logo-color: #FFC2E6;
  --accent-color: #FF8DCB;

  --color-article-title: #353430;
  --background-color-title: #FF8DCB;

  --color-text: #353430;

  --color-hover-button: rgba(50, 49, 45, 0.4);

  --poweroff: none; /* lamp on/off */
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url("../images/cover-image-light.png");

    --color: #353430; /* main color */
    --background-color: #FFF1F7;

    --logo-color: #FFC2E6;
    --accent-color: #FF8DCB;

    --color-article-title: #353430;
    --background-color-title: #FF8DCB;

    --color-text: #353430;

    --color-hover-button: rgba(50, 49, 45, 0.4);

    --poweroff: none; /* lamp on/off */
  }
} 