/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
/*  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);*/
  background: fixed var(--background-color) var(--cover-image) no-repeat center / cover;
}

.header__theme-menu {
  font: 400 18px / 18px 'IBM Plex Mono';
  text-align: center; /* from figma WTF? */
}

.logo_title {
  color: #DB00FF;
  text-shadow: 4px 4px #FF0070;
  font: 700 116px / 96px 'IBM Plex Mono'; /* line-height: 83%; */
}

