/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background: fixed var(--background-color) var(--cover-image) no-repeat center / cover;
}

/* ----- header ----- */

.decorated-zone,
.header {
  display: grid;
  min-height: var(--height-logo); /* 668px (figma) or 667px (iPhone SE) */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  font: 400 18px / 25px 'IBM Plex Mono', monospace;
  color: var(--color);
  background-color: transparent;
  padding: var(--padding);
  margin-bottom: var(--header-margin-bottom);
}

.header_lamp {
  display: var(--poweroff);
  position: absolute;
  right: calc(var(--padding) + 28px);
  top: var(--padding);
}

.header_lamp::after {
  content: "";
  position: absolute;
  transform: translate(10px, 8px);
  width: 9px;
  height: 9px;
  background-color: var(--color);
  border-radius: 50%;
  box-shadow: 0 0 3px 3px var(--color);
  outline: 1px solid var(--color);
}

.corner-top-right {
  position: absolute;
  display: block;
  top: var(--padding);
  right: calc(var(--padding) + 25px);
}

.corner-top-right::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color);
  border-right: 1px solid var(--color);
}

.corner-bottom-left {
  position: absolute;
  display: block;
  bottom: calc(var(--padding) + 25px);
  left: var(--padding);
}

.corner-bottom-left::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--color);
  border-bottom: 1px solid var(--color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-item {

}

.header__theme-menu-button {
  inline-size: 70px;
  line-height: 24px;
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border-color: var(--color);
}

.logo_title {
  color: var(--color-logo);
  text-shadow: 4px 4px var(--accent-color);
  font: 700 var(--logo-size)/0.825 'IBM Plex Mono'; /* line-height: 83%; figma */
}

.header_title {
  width: clamp(355px, 50%, 984px);
  align-self: center;
  justify-self: end;
  background-color: var(--background-color-title);
}

.title-text {
  font: 700 18px / 23px 'IBM Plex Mono'; /* in figma line-height: 23.4px or 1.3rem */
  color: var(--color-title);
}

/* ----- main ----- */

.main {
  padding: 0 var(--padding);
}

.why,
.reasons,
.solutions {
  display: grid;
  gap: 20px;
  margin-bottom: var(--section-margin-bottom);
}

.section_title {
  font: 700 18px / 1.3em 'IBM Plex Mono';
  color: var(--background-color-title);
}

.article {
  display: grid;
  grid-template-rows: min-content;
  gap: 10px;
}

.article_title {
  font: 700 18px / 1.3em 'IBM Plex Mono';
  color: var(--color-title);
  background-color: var(--background-color-title);
}

.article_text {
  font: 400 18px / 1.3em 'IBM Plex Mono';
  color: var(--color-text);
  background-color: var(--background-color);
}

.article_text_link {
  text-shadow: 2px 1px var(-accent-color);
}

.article_subtitle {
  font: 400 18px / 1.3em 'IBM Plex Mono';
  color: var(--color-title);
  background-color: var(--background-color-title);
}

.gallery {
  display: grid;
  gap: var(--padding);
  margin-bottom: var(--header-margin-bottom);
}

@media (width >= 768px) {
  /* clamp(236px, -1px + 30.8594vw, 315px); /* 1st columns */
  /* clamp(226px, -39.5px + 34.5703vw, 314.5px); /* 2-3 columns */
  section {
    grid-template-columns: clamp(236px, -1px + 30.8594vw, 315px) repeat(2, clamp(226px, -39.5px + 34.5703vw, 314.5px));
  }

  .why {
    grid-template-rows: repeat(2, min-content);
  }
  
  .reasons {
    grid-template-rows: repeat(4, min-content);
  }
  
  .solutions {
    grid-template-rows: repeat(6, min-content);
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
  }

  /* title of sections */
  .why .section_title,
  .solutions .section_title {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .reasons .section_title {
    grid-column: 1;
    grid-row: 1;
  }

  /* articles */
  .why .article,
  .solutions .article {
    grid-column: 2 / -1;
  }

  .reasons .article {
    grid-column: 1 / -1;
  }

  .gallery .article_title { /* title */
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .picture-sunset {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .picture-ice-cream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
  
  .picture-tape {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }
  
  .picture-books {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .picture-street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
}

@media (width >= 1024px) {
  .reasons {
    grid-template-rows: repeat(2, min-content);
  }

  .reasons .article {
    grid-row: 2;
    grid-column: auto;
  }
}

/* ----- footer ----- */

.footer {
  display: grid;
  min-height: 667px;
  font: 400 18px / 25px 'IBM Plex Mono';
  color: var(--color);
  padding: var(--padding);
}

.logo_footer {
  align-self: center;
  justify-self: center;
}