/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background: fixed var(--background-color) var(--cover-image) no-repeat center / cover;
  font: 700 18px / 1.3 'IBM Plex Mono', monospace;
  color: var(--color);
}

/* ----- header ----- */

.decorated-zone,
.header {
  display: grid;
  min-height: 668px;
  height: 100vh;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--padding);
  margin-bottom: var(--header-margin-bottom);
}

.header-lamp { /* REC */
  display: var(--poweroff);
  position: absolute;
  right: calc(var(--padding) + 28px);
  top: var(--padding);
  font-weight: 400;
  line-height: 1.3889;
}

.header-lamp::after { /* лампочка */
  content: "";
  position: absolute;
  transform: translate(10px, 8px);
  width: 9px;
  height: 9px;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px currentColor;
  outline: 1px solid currentColor;
}

.corner-top-right { /* уголки */
  position: absolute;
  top: var(--padding);
  right: calc(var(--padding) + var(--corner-size));
}

.corner-top-right::after {
  content: "";
  position: absolute;
  width: var(--corner-size);
  height: var(--corner-size);
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
}

.corner-bottom-left {
  position: absolute;
  bottom: calc(var(--padding) + var(--corner-size));
  left: var(--padding);
}

.corner-bottom-left::after {
  content: "";
  position: absolute;
  width: var(--corner-size);
  height: var(--corner-size);
  border-left: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.header__theme-menu { /* меню тем */
  place-self: center end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

/* .header__theme-menu-item {} */

.header__theme-menu-button {
  inline-size: 70px;
  line-height: 1.3333;
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border-color: var(--color-hover-button);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.logo-title {
  color: var(--logo-color);
  font-size: var(--logo-size);
  line-height: 0.825;
  text-shadow: 4px 4px var(--accent-color);
}

.header-title {
  width: var(--header-title-size);
  place-self: center end;
}

.title-text {
  color: var(--color-article-title);
  background-color: var(--background-color-title);
}

/* ----- main ----- */

.main {
  padding: 0 var(--padding);
}

.why,
.reasons,
.solutions {
  display: grid;
  gap: 20px;
  margin-bottom: var(--section-margin-bottom);
}

.article {
  display: grid;
  grid-template-rows: min-content;
  gap: 10px;
}

.article-text {
  font-weight: 400;
  color: var(--color-text);
}

.article-text-link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.article-text-link:hover {
  text-decoration: underline;
}

.article-text-link:focus-visible {
  outline: 1px solid var(--color-text);
}

.article-subtitle {
  font-weight: 400;
}

.gallery {
  display: grid;
  gap: var(--padding);
  margin-bottom: var(--header-margin-bottom);
}

/* ----- footer ----- */

.footer {
  position: relative;
  min-height: 668px;
  height: 100vh;
  display: grid;
  place-items: center;
}

@media (width >= 768px) {
  .logo-header {
    position: relative;
    left: -20px;
  }

  section {
    grid-template-columns: var(--section-title-column) repeat(2, var(--article-columns));
  }

  .why {
    grid-template-rows: repeat(2, min-content);
  }
  
  .reasons {
    grid-template-rows: repeat(4, min-content);
  }
  
  .solutions {
    grid-template-rows: repeat(6, min-content);
  }

  /* title of sections */
  .why h2,
  .solutions h2 {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .reasons h2 {
    grid-column: 1;
    grid-row: 1;
  }

  /* articles */
  .why .article,
  .solutions .article {
    grid-column: 2 / -1;
  }

  .reasons .article {
    grid-column: 1 / -1;
  }

  /* gallery */
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
  }

  .gallery .title-text {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .picture-sunset {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .picture-ice-cream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
  
  .picture-tape {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }
  
  .picture-books {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .picture-street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    place-self: start center;
  }

  .header__theme-menu-list {
    display: flex;
  }

  section {
    grid-template-columns: repeat(3, 1fr);
  }

  .reasons {
    grid-template-rows: repeat(2, min-content);
  }

  .reasons .article {
    grid-row: 2;
    grid-column: auto;
  }
}