/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --cover-image: url("../images/cover-image.png");

  --color: #FF0070;
  --background-color: #000028;

  --color-logo: #DB00FF;
  --accent-color: #FF0070;

  --color-title: #000028;
  --background-color-title: #FF0070;

  --color-text: #F1B2CE;

  --poweroff: none; /* lamp */

  --padding: clamp(10px, 0.4581px + 2.54453vw, 20px); /* for padding & gap */
  --header-margin-bottom: clamp(40px, 20.9168px + 5.0891vw, 60px);
  --section-margin-bottom: clamp(50px, 21.3744px + 7.6336vw, 80px);

  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* Для мобильных */
  --height-logo: clamp(668px, 328.3056px + 90.5852vw, 1024px); /* Для мобильных */
}

@media (width > 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* Для планшета и десктопа */
    --height-logo: clamp(768px, 1268.2752px - 65.1399vw, 1024px); /* Для планшета и десктопа */
  }
}
